<!-- Contact Section -->
<section class="page-section" id="contact">
    <div class="container wow fadeIn">
        <div class="text-center">
            <h2>Contact Us</h2>
            <hr class="colored">
            <p>Wil je eens praten en zien wat je opties zijn? Neem gerust contact op met ons via dit formulier, telefonisch, per mail, kies maar.</p>
        </div>
        <div class="row mt-4">
            <div class="col-lg-8 offset-lg-2">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row control-group">
                        <div class="form-group col-12 floating-label-form-group controls">
                            <label>Naam</label>
                            <input type="text" class="form-control" placeholder="Naam" id="name" required data-validation-required-message="Vul aub je naam in.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-12 floating-label-form-group controls">
                            <label>Email adres</label>
                            <input type="email" class="form-control" placeholder="Email adres" id="email" required data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-12 floating-label-form-group controls">
                            <label>Telefoon nummer</label>
                            <input type="tel" class="form-control" placeholder="Telefoon nummer" id="phone" required data-validation-required-message="Please enter your phone number.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-12 floating-label-form-group controls">
                            <label>Jou vraag</label>
                            <textarea rows="5" class="form-control" placeholder="Jou vraag" id="message" required data-validation-required-message="Please enter a message."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-12">
                            <button type="submit" class="btn btn-secondary">Verzenden</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Block Button Call to Action -->
<!-- <a class="btn btn-block btn-full-width" href="https://wrapbootstrap.com/theme/vitality-multipurpose-one-page-theme-WB02K3KK3">Buy Vitality Now!</a> -->

<!-- Footer -->
<footer class="footer" style="background-image: url('img/backgrounds/bg-footer.jpg')">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 footer-contact-details">
                <h4><i class="fa fa-phone"></i> Call</h4>
                <p>{{ page.phone }}</p>
            </div>
            <div class="col-md-4 footer-contact-details">
                <h4><i class="fa fa-map-marker"></i> Adres</h4>
                <p>{{ page.address1 }}
                <br>{{ page.address2 }}</p>
            </div>
            <div class="col-md-4 footer-contact-details">
                <h4><i class="fa fa-envelope"></i> Email</h4>
                <p><a href="mailto:{{ page.email }}">{{ page.email }}</a>
                </p>
            </div>
        </div>
        <div class="row footer-social">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-facebook fa-fw fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="copyright">&copy; 2017 Castles &amp; Coffee</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/tether/tether.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="vendor/owl-carousel/owl.carousel.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="vendor/vide/jquery.vide.min.js"></script>
<script src="vendor/mixitup/mixitup.min.js"></script>
<script src="vendor/wowjs/wow.min.js"></script>

<!-- Contact form JavaScript -->
<script src="js/contact_me.js"></script>
<script src="js/jqBootstrapValidation.js"></script>

<!-- Custom scripts for this theme -->
<script src="js/vitality.js"></script>
<script src="js/vitality-mixitup.js"></script>
