<!-- Masthead -->
<header class="masthead" style="background-image: url('{{ page.header-bg-url}}');">
    <div class="container h-50">
        <div class="row h-50">
            <div class="col-12 my-auto text-center text-white">
                <img class="masthead-img img-fluid mb-3" src="img/profile.svg" alt="">
                <div class="masthead-title">{{ page.title }}</div>
                <hr class="colored">
                <div class="masthead-subtitle">{{ page.subtitle Ò}}</div>
            </div>
        </div>
    </div>
    <div class="scroll-down">
        <a class="btn page-scroll" href="#about">
            <i class="fa fa-angle-down fa-fw"></i>
        </a>
    </div>
</header>
