<!-- Navigation -->
<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse navbar-expanded" id="mainNav">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top">
            <img class="img-fluid" src="img/logo.svg" alt="Castles &amp; Coffee">
        </a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/#about">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/#team">Het team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/#services">Onze aanpak</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link page-scroll" href="#work">Ons werk</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/#culture">Waarom</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Masthead -->
<!-- <header class="masthead" style="background-image: url('{{ page.background-url}}');">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto text-center text-white">
                <img class="masthead-img img-fluid mb-3" src="img/profile.svg" alt="">
                <div class="masthead-title">{{ page.title }}</div>
                <hr class="colored">
                <div class="masthead-subtitle">{{ page.subtitle Ò}}</div>
            </div>
        </div>
    </div>
    <div class="scroll-down">
        <a class="btn page-scroll" href="#about">
            <i class="fa fa-angle-down fa-fw"></i>
        </a>
    </div>
</header> -->
